* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #161513;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    background-color: #222222;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.navbar {
    display: flex;
}

.navbar div {
    padding: 30px 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.navbar a {
    color: #fff;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

.avatar img {
    width: 251px;
}

.about {
    text-align: center;
}

.about-text {
    width: 655px;
    margin: 30px auto;
}

.about-text h1 {
    color: #fff;
    line-height: 1;
    font-size: 55px;
}

#about-text-span {
    background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text p {
    font-size: 18px;
    color: #C5C5C5;
    margin-top: 30px;
}

.buttons {
    padding: 40px;
}

.btn-1 {
    background-color: #fff;
    color: #000;
    font-size: 22px;
    padding: 15px 20px;
    border-radius: 50px;
}

.btn-2 {
    background-color: #161513;
    color: #fff;
    padding: 15px 20px;
    font-size: 22px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 50px;
}

.experience-with {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.experience-text {
    color: #C5C5C5;
    font-size: 20px;
}

.experience-text h2 {
    letter-spacing: 2.4px;
    font-weight: 500;
}

.experience-with-lang {
    display: flex;
    width: 500px;
    margin: 50px auto;
    justify-content: space-between;
    cursor: pointer;
}

.experience-with-lang img {
    width: 45px;
    height: 45px;
}

.project-with {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.project-with-img {
    width: 390px;
    padding-top: 25px;
    display: flex;
    padding-left: 34px;
}

.specific {
    margin-left: 25px;
}

.primary-heading {
    text-align: center;
    font-size: 35px;
}

.heading-project {
    background: var(--Orange-Gradient,
            linear-gradient(180deg, #ff8660 0%, #d5491d 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.project-item {
    background: #2a2a2a;
    margin: 20px;
    border-radius: 18px 18px 0 0;
    border-radius: 18px;
    color: #fff;
}

.project-item img {
    width: 100%;
    border-radius: 18px 18px 0 0;
}

.project-title {
    padding: 15px;
    text-align: left;
}

.project-title p {
    font-size: 10px;
}

.container {
    padding: 50px;
}

.heading-experience {
    font-size: 35px;
    font-weight: 800;
    background: var(--Blue-Gradient, linear-gradient(180deg, #5BADFF 0%, #1373D1 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experiences {
    width: 85%;
    padding-top: 40px;
}

.experience-item {
    color: #61666b;
}

.experience-title-container {
    display: flex;
    margin: 0 auto;
}

.experience-title-container img {
    width: 34px;
    height: 34px;
    margin-left: 120px;
}

.experience-title-container h3 {
    margin: 0 20px;
    font-size: 21.74px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.experience-title-container {
    font-size: 13px;
    font-weight: 200;
    color: #61666b;
}

.date1 {
    /* You Can Adjust This Things */
    transform: translateX(120%);
}

.date2 {
    transform: translateX(107%);
}

.date3 {
    transform: translateX(176%);
}

.experience-item p {
    margin: 17px;
    margin-left: 122px;
}

footer {
    width: 100%;
    height: 450px;
    background-color: #191919;
    margin: 0 auto;
}

footer h3 {
    font-size: 23.526px;
    font-weight: 700;
    color: #fff;
    padding: 82px 0;
    margin: 0 27%;
}

footer p {
    color: #888686;
    margin: 0 27%;
    margin-top: -3%;
    font-size: 14.115px;
}

.emails {
    padding-top: 34px;
    margin: auto 447px;
}

.emails img {
    transform: translateY(5px);
    /* you can adjust this as your need*/
    width: 22px;
    height: 19px;
}

.contact-email {
    color: #C5C5C5;
}

.social-link {
    margin: 50px 27%;
    display: inline-flex;
    align-items: center;
    gap: 27px;
}

.social-link img {
    width: 25px;
    height: 20px;
    color: #888686;
}